body {
      color: rgb(65,75,86);
      /* rgb stands for red green blue but it could be written as a hex number-->
      /* color: #54c354; */ /* to comment out: mark the text you want to comment out and press: ctrl + / */
      font-family: arial;
      /* it falls back on to the second font in case the first font is too fancy and not available */
      margin:0px;
}

div {
  min-height: 100vh;
  /* vh stands for viewport height */
  width: 100vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
  /* em is a relative measurement, 5em means it is five times bigger than what it has already been set up as */
}

h2 {
  font-size: 2.5em;
}

img {
  display: flex;
  /* allows for flex displaying of image on the page */
  margin: 0px auto;
  padding: 20px;
  border-radius: 130px;
  /* the greater this is the rounder the image will be */
}

p {
  width: 40%;
  margin: 0 10vw 10vh 10vw;
  font-size: 2em;
}

a {
  color: rgb(0,0,0);
  /* by default links on websites are blue, what we've done here is change that to black */
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

li#lower {
  margin-top: 7%;
}

li#lowest {
  margin-top: 14%;
}

div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
